.Main-container {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(0, 38, 95, 1),
    rgb(87, 151, 240, 1),
    rgba(0, 38, 95, 1)
  );
  display: grid;
  place-items: center;
  padding: 20px;
}
h1 {
  color: white;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .Main-container {
    background: linear-gradient(
      to right,
      rgba(0, 38, 95, 1),
      rgba(0, 38, 95, 1)
    );
  }
}
